* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    width: 100vw;
}

.categoria {
    position: relative;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subLista {
    position: absolute;
    top: 40px;
    display: none;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    background-color: #00a8db;
    z-index: 999;

}
.none{
    display: none;
}
.flex{
    display: flex;
}
.menu {
    width: 100vw;
    height: 40px;
    background: -webkit-linear-gradient(120deg, rgb(0, 156, 184), rgb(0, 163, 184));
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu li {
    list-style-type: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}


#imgBanner {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

/*Sessão de pesquisa*/
.sessao_pesquisa h1,
.label_favorito {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
}

.sessao_pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    position: relative;
}

.lupa {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5.8px;
    right: 10px;
}

.input_pesquisa {
    border: 2px solid rgb(34, 182, 150);
    background-color: #ffffff98;
    width: 40vw;
    height: 30px;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;
    
}
.input_pesquisa::placeholder {
   color: rgb(34, 182, 150);
}

.img_filmes {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.5s;
}

.img_filmes:hover {
    scale: 1.1;
}

#lista {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100vw;

}

.container_filmes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

.titulo {
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container_fav_and_nota {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.container_filmes h3 {
    font-size: 0.8rem;
}

.icone {
    height: 15px;
    width: 15px;
}

.container_favorito,
.container_pontuacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 10px;
}

.container_left {
    width: 200px;
}